<button
  class='bg-stone-900 font-text px-6 text-[1.1rem] py-[6px] text-white border border-transparent rounded-full transition-all duration-300 shadow-custom hover:scale-105 hover:border-black hover:bg-neutral-100 hover:text-black hover:shadow-custom-hover'
>
  <slot />
</button>
