---
import { Image } from 'astro:assets'
import image from '@assets/contact-image.avif'
import ButtonPrimary from './ButtonPrimary.astro'
---

<section
  id='contact'
  class='bg-main sm:pl-[130px] sm:pr-[130px] flex justify-between rounded-br-[15em] pb-20'
>
  <article
    class='sm:w-2/3 pt-10 pl-10 flex flex-col items-start sm:gap-y-5 gap-y-10'
  >
    <h2 class='font-title text-[3rem] max-w-[65%] text-balance'>
      Intereste in Working with Us?
    </h2>
    <p class='font-text text-pretty text-[1.2rem] max-w-[80%]'>
      Do you have a passion for creating beautiful and functional spaces? If you
      are interested in working with us, please visit our website and fill out
      the application form.
    </p>
    <ButtonPrimary>Contact us</ButtonPrimary>
  </article>
  <picture class='sm:flex hidden'>
    <Image
      src={image}
      alt='Image about interior design'
      width={image.width}
      height={image.height}
      loading='lazy'
      class='rounded-br-[15em] h-[380px] w-[250px] object-cover border-x border-stone-400'
    />
  </picture>
</section>
