---
import LogoIcon from '@icons/logo-icon.astro'
import NAVIGATION from '@constants/navigation-data.json'
---

<footer class='sm:px-[130px] pt-20 grid grid-cols-2 gap-y-10'>
  <article
    class='flex flex-col sm:items-start items-center gap-y-5 sm:col-span-1 col-span-2'
  >
    <LogoIcon class='w-[10em] h-auto' />
    <p
      class='font-main font-medium sm:max-w-[60%] max-w-[70%] sm:text-start text-center'
    >
      Interiorfirm is an acclaimed multidisciplinary studio specializing in
      interior architecture, interior design.
    </p>
  </article>
  <nav class='sm:flex hidden justify-around items-center font-main font-medium'>
    {NAVIGATION.map(({ name, value }) => <a href={value}>{name}</a>)}
  </nav>
  <article
    class='flex sm:flex-row flex-col gap-y-5 sm:text-[1.1rem] text-[1rem] sm:items-start items-center justify-between col-span-2 border-t border-stone-400 py-10 font-text font-medium opacity-60'
  >
    <h3>© Copyright 2024 Interiorfirm ― All Rights Reserved</h3>
    <div class='flex sm:gap-x-10 gap-x-5'>
      <h4>Privacy Policy</h4>
      <h4>Terms & Conditions</h4>
    </div>
  </article>
</footer>
