---
import LogoIcon from '@icons/logo-icon.astro'
import NAVIGATION from '@constants/navigation-data.json'
---

<footer class='px-[130px] pt-10 grid grid-cols-2 gap-y-10'>
  <article class='flex flex-col gap-y-5'>
    <LogoIcon />
    <p class='font-main font-medium max-w-[60%] text-pretty'>
      Interiorfirm is an acclaimed multidisciplinary studio specializing in
      interior architecture, interior design.
    </p>
  </article>
  <nav class='flex justify-around items-center font-main font-medium'>
    {NAVIGATION.map(({ name, value }) => <a href={value}>{name}</a>)}
  </nav>
  <article
    class='flex justify-between col-span-2 border-t border-stone-400 py-10 font-text font-medium text-[1.1rem] opacity-60'
  >
    <h3>© Copyright 2024 Interiorfirm ― All Rights Reserved</h3>
    <div class='flex gap-x-10'>
      <h4>Privacy Policy</h4>
      <h4>Terms & Conditions</h4>
    </div>
  </article>
</footer>
