---
import NAVIGATION from '@constants/navigation-data.json'
import LogoIcon from '@icons/logo-icon.astro'
---

<header id='header'>
  <!-- Logo -->
  <LogoIcon class='sm:w-[7em] w-[6em] h-auto' />
  <!-- Toggle Action -->
  <label for='menu'></label>
  <input type='checkbox' id='menu' />
  <!-- nav -->
  <nav>
    {NAVIGATION.map(({ name, value }) => <a href={value}>{name}</a>)}
  </nav>

  <!-- Toggle Button  -->
  <div>
    <button>.</button>
  </div>
</header>
<style>
  /* Desktop */
  header {
    animation: header linear both;
    animation-timeline: scroll(root);
    animation-range: entry 1% cover 20%;
    @apply sm:grid sm:grid-cols-3 flex justify-between items-center lg:px-10 py-2 fixed z-40 w-full;
  }
  nav {
    @apply col-span-2 gap-x-10 flex items-center justify-start;
  }
  a {
    @apply text-[1rem] font-medium font-main px-3 py-[6px] rounded-2xl transition-all duration-300;
  }
  a:hover {
    @apply underline underline-offset-8;
  }
  a:last-child {
    @apply ml-auto bg-stone-900 text-white hover:bg-primary hover:no-underline hover:scale-105;
  }
  label,
  input,
  div {
    @apply hidden;
  }
  @keyframes header {
    from {
      background-color: transparent;
    }
    to {
      backdrop-filter: blur(15px);
      background-color: rgb(229 229 229 / 0.9);
      padding-block: 10px;
      box-shadow: 0px 5px 30px 1px rgba(0, 0, 0, 0.4);
    }
  }
  /* Phone */
  @media screen and (max-width: 600px) {
    header {
      @apply flex justify-between pl-4 py-2;
    }
    div {
      @apply flex justify-center items-center pr-2;
    }
    button {
      @apply w-10 z-30 transition-all duration-300 text-transparent h-full;
    }
    #menu:not(:checked) ~ div > button {
      background-image: url('../assets/menu-icon.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }
    #menu:checked ~ div > button {
      background-image: url('../assets/menu-close-icon.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }
    label {
      @apply flex w-10 h-full absolute z-40 top-0 right-2 cursor-pointer;
    }
    nav {
      clip-path: circle(0 at center);
      transition: clip-path 0.8s ease-in-out;
      @apply bg-neutral-100 absolute top-0 right-0 w-full h-screen flex flex-col items-center justify-center gap-y-10 z-30;
    }
    a:last-child {
      margin-left: 0;
    }
    button {
      @apply flex;
    }
    input:checked + nav {
      clip-path: circle(100% at center);
    }
  }
</style>
<script>
  // Obtener referencia a los enlaces dentro del menú
  const enlacesMenu = document.querySelectorAll('nav a')

  // Agregar event listener a cada enlace
  enlacesMenu.forEach((enlace) => {
    enlace.addEventListener('click', () => {
      // Cerrar el menú al hacer clic en un enlace
      const checkboxMenu = document.getElementById('menu') as HTMLInputElement
      checkboxMenu.checked = false
    })
  })
</script>
