---
import image from '@assets/hero-image.avif'
import ButtonPrimary from './ButtonPrimary.astro'
---

<section
id="home"
class='h-screen flex relative border-b border-stone-400'>
  <article
    class='bg-main sm:pl-[130px] sm:px-0 px-10 h-full flex flex-col pt-16 items-start sm:justify-start justify-center gap-y-8 sm:w-2/3 w-full rounded-tr-[60%]'
  >
    <h1 class='font-title sm:text-[5.5rem] text-[3.7rem] text-balance z-10'>
      Modern Interior Design Service
    </h1>
    <p
      class='sm:max-w-[60%] text-pretty font-text font-medium text-[1.2rem]'
    >
      Interiorfirm is an acclaimed multidisciplinary studio specializing in
      interior architecture, interior design and décor that redefines laid-back
      luxury.
    </p>
    <div class='w-full flex justify-center'>
      <ButtonPrimary> Explore Now </ButtonPrimary>
    </div>
  </article>
  <picture
    class='h-full absolute right-0 sm:flex hidden items-center justify-end'
  >
    <img
      src={image.src}
      alt='Image obout our product'
      height='500'
      width='750'
      class='h-[90%]'
    />
  </picture>
</section>
