---
import image from '@assets/projects-image.avif'
import { Image } from 'astro:assets'
---

<section class='flex flex-col mr-[130px] border-t border-stone-400'>
  <article class='ml-[130px] py-10 border-x border-stone-400 pl-10'>
    <h2 class='text-[3.5rem] font-title text-balance'>
      Amazing Projects from Talented Interior Architects.
    </h2>
  </article>
  <picture class='w-full right-0 pl-14 border-r border-stone-400'>
    <Image
      src={image}
      alt='Image about interior design'
      width={image.width}
      height={image.height}
      class='w-full h-auto aspect-auto bg-cover'
      loading='lazy'
    />
  </picture>
  <article
    class='bg-main ml-14 flex rounded-bl-[20em] pt-5 pb-10 border-r border-stone-400'
  >
    <div class='w-2/3 flex flex-col gap-y-3 font-main pl-[15%]'>
      <h3 class='text-[2.5rem] font-medium'>Modern Style</h3>
      <p class='text-pretty font-text pr-10 text-[1.2rem]'>
        The modernist movement began to take shape when it shifted away from
        traditional construction and design elements such as wood, stone, and
        brick and toward industrial materials like as glass, steel, and
        concrete.
      </p>
    </div>
    <div class='flex-grow flex justify-center items-center'>
      <button
        class='bg-primary px-5 py-2 text-white text-[1.3rem] font-text font-medium rounded-full'
        >Explore</button
      >
    </div>
  </article>
</section>
