---
import { SERVICES_DATA } from 'src/constants/services-data.astro'
---

<section
  id='services'
  class='flex flex-col sm:pl-[130px] sm:mr-[130px] border-t border-r border-stone-400'
>
  <article class='border-l border-stone-400 pt-10 sm:pl-10 sm:px-0 px-10'>
    <h2 class='sm:text-[4rem] text-[3rem] sm:max-w-[50%] font-title'>
      Create your Dream Space.
    </h2>
  </article>
  <article
    class='flex sm:flex-row flex-col justify-center sm:py-20 py-10 gap-y-10 border-l border-stone-400'
  >
    {
      SERVICES_DATA.map((item) => (
        <div class='flex flex-col gap-y-5 font-main items-center'>
          <item.icon />
          <h3 class='font-semibold text-[1.3rem] '>{item.title}</h3>
          <p class='w-[70%] sm:text-pretty text-center'>{item.text}</p>
        </div>
      ))
    }
  </article>
</section>
